@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:wght@700&family=Work+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: suisseregular;
  src: url("./assets/SuisseIntl-Regular.ttf") format("truetype");
  font-style: bold;
}

@font-face {
  font-family: HBBold;
  src: url("./assets/FreeSansBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: HBLight;
  src: url("./assets/FreeSans.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: AntonioBold;
  src: url("./assets/Antonio-Bold.ttf") format("truetype");
  font-style: normal;
}
